* {
  box-sizing: border-box;
}
body {
  letter-spacing: 0.4px;
  font-family: Arial, Heivetica, sans-serif;
  background-color: rgba(0, 0, 0, 0.87);
}
.App {
  background-color: rgb(97, 97, 97);
  margin: 50px auto;
  width: 950px;
  padding: 30px;
  text-align: center;
  border-radius: 25px;
}
.title {
  color: #fff;
  font-size: 2.2rem;
  text-align: center;
}
.App .todo-item {
  cursor: pointer;
  font-size: 22px;
  color: #fff;
  margin: 20px;
}
.App input {
  width: 250px;
  height: 50px;
  border-radius: 10px;
  margin: 20px;
  outline: 0;
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid #fff;
  padding: 15px;
}
.App button {
  display: block;
  margin: auto;
  width: 150px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.836);
  color: #fff;
  border-radius: 8px;
  border: 0;
  font-size: 1.2rem;
}
.contact {
  width: 80%;
}
.App .item h2 {
  overflow-wrap: break-word;
  font-size: 2rem;
}
.App .item p {
  font-size: 1.3rem;
  overflow-wrap: break-word;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
  border-radius: 50px;
  padding: 5px 25px;
  margin: 20px auto;
  text-align: left;
}
.item-f {
  border: 1px solid #b47643 !important;
  box-shadow: 1px 1px 30px rgb(199, 156, 131) inset !important;
}
.item-t {
  border: 1px solid #4cb443;
  box-shadow: 1px 1px 30px rgb(131, 182, 199) inset;
}
.check {
  display: flex;
  gap: 15px;
  font-size: 2rem;
}
.del {
  color: rgb(212, 38, 38);
}
.done {
  color: rgb(175, 46, 46);
}
.notDone {
  color: rgba(33, 209, 27, 0.836);
}
@media (max-width: 850px) {
  .App {
    background-color: rgb(97, 97, 97);
    margin: 50px auto;
    width: 90%;
  }
  .check {
    font-size: 1.5rem;
  }
}
@media (max-width: 600px) {
  .item {
    border-radius: 20px;
    width: 100%;
  }
  .contact {
    width: 95%;
  }
  .App .item h2 {
    font-size: 0.9rem;
  }
  .App .item p {
    font-size: 0.6rem;
  }
  .check {
    gap: 5px;
    font-size: 1rem;
  }
}
